/* ==== preloader ===== */

:root {
    --effect: hover 1s linear infinite;
}

.loader {
    width: 10em;
    height: 10em;
    font-size: 25px;
    box-sizing: border-box;
    border-top: 0.3em solid #FF6500;
    border-radius: 50%;
    position: relative;
    animation: rotating 2s ease-in-out infinite;
    --direction: 1;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    box-sizing: border-box;
    top: -0.2em;
}

.loader::before {
    border-top: 0.3em solid #FF2801;
    transform: rotate(120deg);
}

.loader::after {
    border-top: 0.3em solid #FF5001;
    transform: rotate(240deg);
}

.loader span {
    position: absolute;
    color: white;
    width: inherit;
    height: inherit;
    text-align: center;
    line-height: 10em;
    font-family: var(--ff-gilroyBlack);
    animation: rotating 2s linear infinite;
    --direction: -1;
}

@keyframes rotating {
    50% {
        transform: rotate(calc(180deg * var(--direction)));
    }

    100% {
        transform: rotate(calc(360deg * var(--direction)));
    }
}

/* back to top */
.backToTopArrow svg {
    height: 20px;
    width: 20px;
    fill: white;
    z-index: 50;
}

.z_10 {
    z-index: 10;
}

.backToTopArrow {
    background: linear-gradient(133.72deg, #FF2801 -0.47%, #FF6500 90.6%), linear-gradient(95.99deg, #0075FF 1.34%, #0000FF 107.5%);
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
}

.header_bg {
    background: url("./assets/images/png/header_img.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.page_bg {
    background: url("./assets/images/png/bg_layer.png") repeat;
    background-size: cover;
}

.nav_btn {
    font-size: 33px;
    z-index: 40;
}

.stroke_white path {
    stroke: white;
}

.myNav li {
    position: relative;
}

.myNav li::after {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 20px;
    width: 0;
    height: 3px;
    bottom: -5px;
    left: 50%;
    transition: 0.4s;
}

.myNav li:hover::after {
    content: "";
    width: 100%;
    transform: translateX(-50%);
    transition: 0.4s;
}

.mw_662 {
    max-width: 662px;
}

.text_shadow {
    text-shadow: 0px 3px 3.03951px rgba(0, 0, 0, 0.25);
}

.contact_btn {
    position: relative;
    background: linear-gradient(133.72deg, #FF2801 -0.47%, #FF6500 90.6%), linear-gradient(95.99deg, #0075FF 1.34%, #0000FF 107.5%);
    padding: 16px 31px;
    z-index: 1;
    transition: all .3s;
}

.contact_btn:hover {
    background: white;
    color: #FF2801;
    box-shadow: 0px 3px 5px 1px #FF2801;
}

.contact_btn:hover::before {
    display: none;
}

.contact_btn::before {
    content: "";
    position: absolute;
    top: 15px;
    height: 36px;
    left: 0;
    width: 100%;
    background: linear-gradient(95.24deg, #FF5001 6.18%, #DD4500 97.9%), #D9D9D9;
    opacity: 0.5;
    filter: blur(13.5px);
    z-index: -1;
}

.Portfolio_slider .slick-list {
    overflow: visible !important;
    padding: 0 30% 0 0 !important;
    position: relative !important;
}

.Portfolio_slider .slick-list::after {
    content: " ";
    position: absolute;
    background: url("./assets/images/png/page_bg.png") no-repeat;
    top: -3%;
    bottom: 0px;
    width: 100%;
    height: 105%;
    right: 100%;
    background-color: white;
}

.portfolio_cards {
    max-width: 480px;
    height: 586px;
}

.portfolio_cards img {
    object-fit: cover;
}

.slider_arrows {
    border: 1.06px solid transparent;
    padding: 12px 19px;
    width: 53.04px;
    height: 53.04px;
    background: linear-gradient(107.21deg, #ffffff 2.84%, #ffffff 73.23%) padding-box,
        linear-gradient(133.72deg, #FF2801 -0.47%, #FF6500 90.6%)border-box;
}

.rotate180 {
    transform: rotate(-180deg);
}

.rotate90 {
    transform: rotate(-90deg);
}

.start-68 {
    left: -68px;
}

.end_67 {
    right: -67px;
}

.bottom_30 {
    bottom: 30%;
}

.email_box {
    max-width: 416px;
    padding: 17px 45px;
    height: 51px;
    border: 1px solid #B2B2B2;
    line-height: 16px;
    color: #404040;
    opacity: 0.4;
}

.email_box::placeholder {
    font-family: var(--ff-gilroyReg);
    font-size: var(--fs-xsm);
    line-height: 16px;
    color: #404040;
    opacity: 0.4;
}

.submit_btn {
    position: relative;
    background: linear-gradient(133.72deg, #FF2801 -0.47%, #FF6500 90.6%), linear-gradient(95.99deg, #0075FF 1.34%, #0000FF 107.5%);
    padding: 12.8635px 24.923px;
    height: 41px;
}

.submit_btn::before {
    content: "";
    position: absolute;
    top: 15px;
    height: 28px;
    left: 0;
    width: 100%;
    background: linear-gradient(95.24deg, #FF5001 6.18%, #DD4500 97.9%), #D9D9D9;
    opacity: 0.5;
    filter: blur(13.5px);
    z-index: -1;
}

.msg_img {
    transform: translateX(19px);
}

.translateX {
    transform: translateX(317%);
}

.mw_741 {
    max-width: 741px;
}

.footer_icon {
    width: 39.85px;
    height: 39.85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(133.72deg, #FF2801 -0.47%, #FF6500 90.6%), #D9D9D9;
    transition: all .3s linear !important;
}

.footer_icon:hover {
    background: #ffffff;
    border: 1px solid #FF2801;
}

.footer_icon:hover svg path {
    fill: #ff5100;
}

.objectfitContain {
    object-fit: contain;
}

.mw_74 {
    max-width: 74px;
}

.mw_500 {
    max-width: 500px;
}

.slider_arrows {
    transition: all .3s;
}

.slider_arrows:hover {
    background: linear-gradient(133.72deg, #FF2801 -0.47%, #FF6500 90.6%), #D9D9D9;
}

.slider_arrows:hover svg path {
    fill: #ffffff;
}

.mw_90 {
    max-width: 90px;
}


@media (max-width:992px) {
    .myNav {
        position: absolute;
        left: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        background: linear-gradient(133.72deg, #FF2801 -0.47%, #FF6500 90.6%), #D9D9D9;
        align-items: center;
        justify-content: center;
        gap: 30px;
        height: 100vh;
        width: 100%;
        transition: all 300ms linear;
        z-index: 8;
    }

    .myNav li a {
        font-size: var(--fs-2xl);
    }

    .showNav {
        left: 0;
    }

    .start-68 {
        left: -100px;
    }

    .end_67 {
        right: -100px;
    }

    .portfolio_cards {
        height: 360px !important;
    }
}

@media (max-width:1400px) {
    .portfolio_cards {
        height: 420px;
    }
}

@media (max-width:576px) {
    .start-68 {
        left: -83px !important;
    }

    .end_67 {
        right: -83px !important;
    }

}

@media (max-width:449px) {
    .translateX {
        transform: unset;
        right: 5px;
    }
}